@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  padding: 20px;
  padding-right: 100px;
  padding-left: 100px;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main p {
  width: 600px;
  font-size: 16px;
  margin-bottom: 20px;
}
main h1 {
  color: #333;
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

main > section > a{
    background-color: #017143;
    padding: 10px 10px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    background-color: #048f55;
}
span {
  color: #017143;
  font-size: 50px;
  font-weight: 900;
}
header img {
  width: 80px;
}
.starbuks {
  width: 200px;
}
.menu {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.menu:hover {
  transform: translateY(-30px);
}
.box-img {
  width: 700px;
  display: flex;
  justify-content: flex-end;
  margin-top: 110px;
}
.box-menu {
  display: flex;
  justify-content: center;
}
.circulo {
  width: 100%;
  height: 100%;
  background: #017143;
  position: absolute;
  top: 0;
  left: 0%;
  clip-path: circle(550px at right 700px);
  z-index: -1;
}
